@model PrototipoFormulario.ViewModel.FormularioVM
@{
}

<script src="~/views/despliegue.js"></script>


@if (Model.Trabajadores.Count() > 0)
{
    <table class="table">
        @*<thead>
                <tr>
                    <th>CUIL</th>
                    <th>Nombre y Apellido</th>
                    <th></th>
                    <th></th>
                    <th>
                    </th>
                </tr>

            </thead>*@
        <tbody style="vertical-align: baseline">





            @foreach (var item in Model.Trabajadores)
            {

                <tr style="display:inline-block; display:flex; justify-content:space-between; border-top:2px solid #ddd ">

                    <td style="border-top:0px solid #dee266">@item.Cuil</td>

                    <td style="border-top:0px solid #dee266">@item.Nombre <span> </span> @item.Apellido </td>

                    <td style="border-top:0px solid #dee266">
                        <div class="checkbox checbox-switch switch-primary" style="margin-top:unset ">

                            <label>
                                @{var idSelect = "select" + item.IdTrabajador.ToString();
                                    var idDivDomicilio = "divDomicilio" + item.IdTrabajador.ToString();
                                    var idCheckbox = "myCheck" + item.IdTrabajador.ToString();
                                    var idDiv = "divTrabajador" + item.IdTrabajador.ToString();
                                    var nameChk = "chk" + item.IdTrabajador.ToString(); }


                                <input type="checkbox" class="checkTrabajador" name=@nameChk id=@idCheckbox>
                                <span></span>
                                Con Teletrabajo
                            </label>


                        </div>



                    </td>

                </tr>

                <tr>

                    <td style="border-top:0px solid #dee266">
                        <div class="row divTrabajador" id=@idDiv style="display:none">

                            <div class="col-12">
                                <h3>Datos del Trabajador</h3>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">

                                            <div class="d-flex align-items-center">
                                                <label class="control-label">CUIL</label>
                                            </div>


                                            <input asp-for=@item.Cuil class="form-control" readonly />

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">Nombre</label>
                                            </div>


                                            <input asp-for=@item.Nombre class="form-control" readonly />

                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">Apellido</label>
                                            </div>


                                            <input asp-for=@item.Apellido class="form-control" readonly />
                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">Genero</label>
                                            </div>


                                            @if (item.IdGenero == 1)
                                            {
                                                <input value="Masculino" readonly class="form-control" />
                                            }
                                            else if (item.IdGenero == 2)
                                            {
                                                <input value="Femenino" readonly class="form-control" />
                                            }
                                            else if (item.IdGenero == 3)
                                            {
                                                <input value="Otros" readonly class="form-control" />

                                            }

                                        </div>

                                    </div>





                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">Adherido a Convenio Colectivo de Trabajo</label>
                                            </div>


                                            @if (item.AdheridoConvenioColectivoTrabajo == true)
                                            {
                                                <input value="Si" readonly class="form-control" />
                                            }
                                            else if (item.AdheridoConvenioColectivoTrabajo == false)
                                            {
                                                <input value="No" readonly class="form-control" />
                                            }



                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">Categoria</label>
                                            </div>


                                            @if (item.IdCategoria == 1)
                                            {
                                                <input value="Operario" readonly class="form-control" />
                                            }
                                            else if (item.IdGenero == 2)
                                            {
                                                <input value="Tecnico" readonly class="form-control" />
                                            }
                                            else if (item.IdGenero == 3)
                                            {
                                                <input value="Gerente" readonly class="form-control" />

                                            }

                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">Puesto que desempeña</label>
                                            </div>

                                            @if (item.IdPuesto == 1)
                                            {
                                                <input value="Jefe" readonly class="form-control" />
                                            }
                                            else if (item.IdPuesto == 2)
                                            {
                                                <input value="Empleado" readonly class="form-control" />
                                            }
                                            else if (item.IdPuesto == 3)
                                            {
                                                <input value="Pasante" readonly class="form-control" />

                                            }

                                            @*<input asp-for="@item.IdPuesto" class="form-control" />*@




                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">Modalidad de contratacion</label>
                                            </div>


                                            @*<input asp-for="@item.IdModalidadDeContratacion" class="form-control" />*@
                                            @if (item.IdModalidadDeContratacion == 1)
                                            {
                                                <input value="Jornada completa" readonly class="form-control" />
                                            }
                                            else if (item.IdModalidadDeContratacion == 2)
                                            {
                                                <input value="Media jornada" readonly class="form-control" />
                                            }
                                            else if (item.IdModalidadDeContratacion == 3)
                                            {
                                                <input value="Pasantia" readonly class="form-control" />

                                            }
                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">Obra Social</label>
                                            </div>

                                            @*<input asp-for="@item.IdObraSocial" class="form-control" />*@
                                            @if (item.IdObraSocial == 1)
                                            {
                                                <input value="Swiss Medical" readonly class="form-control" />
                                            }
                                            else if (item.IdObraSocial == 2)
                                            {
                                                <input value="Sancor Salud" readonly class="form-control" />
                                            }
                                            else if (item.IdObraSocial == 3)
                                            {
                                                <input value="OSDE" readonly class="form-control" />

                                            }
                                            else if (item.IdObraSocial == 4)
                                            {
                                                <input value="Accord Salud" readonly class="form-control" />

                                            }
                                            else if (item.IdObraSocial == 5)
                                            {
                                                <input value="Medife" readonly class="form-control" />

                                            }
                                            else if (item.IdObraSocial == 6)
                                            {
                                                <input value="Medicus" readonly class="form-control" />


                                            }
                                            else if (item.IdObraSocial == 7)
                                            {
                                                <input value="IOMA" readonly class="form-control" />


                                            }

                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">ART</label>
                                            </div>

                                            @*<input asp-for="@item.IdArt" class="form-control" />*@
                                            @if (item.IdArt == 1)
                                            {
                                                <input value="Prevencion ART" readonly class="form-control" />
                                            }
                                            else if (item.IdArt == 2)
                                            {
                                                <input value="SMG ART" readonly class="form-control" />
                                            }
                                            else if (item.IdArt == 3)
                                            {
                                                <input value="GALENO ART" readonly class="form-control" />

                                            }
                                            else if (item.IdArt == 4)
                                            {
                                                <input value="PROVINCIA ART" readonly class="form-control" />
                                            }
                                            else if (item.IdArt == 5)
                                            {
                                                <input value="FEDERACION PATRONAL ART" readonly class="form-control" />

                                            }
                                            else if (item.IdArt == 6)
                                            {
                                                <input value="ART EXPERTA" readonly class="form-control" />
                                            }


                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">Fecha de clave de Alta Temprana</label>
                                            </div>

                                            <input asp-for="@item.FechaClaveAltaTemprana" class="form-control" />

                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">Adherido a Entidad Gremial</label>
                                            </div>

                                            @*<input asp-for="@item.AdheridoEntidadGremial" class="form-control" />*@
                                            @*@if (item.AdheridoEntidadGremial == true)
                                                {
                                                    <input value="Si" readonly class="form-control" />
                                                }
                                                else if (item.AdheridoEntidadGremial == false)
                                                {
                                                    <input value="No" readonly class="form-control" />
                                                }*@

                                            <div class="col-sm-6 col-md-4">
                                                <div class="form-group">
                                                    <div class="d-flex align-items-center">
                                                        @*<label>Adherido a EntidadGremial</label>*@
                                                    </div>
                                                    @*<select class="form-control">
                                                            <option value="">Elija opción</option>
                                                            <option value="Si">Legal</option>
                                                            <option value="No">Real</option>
                                                        </select>*@

                                                    @if (item.AdheridoEntidadGremial == true)
                                                    {
                                                        <input value="Si" readonly class="form-control" />
                                                    }
                                                    else if (item.AdheridoEntidadGremial == false)
                                                    {
                                                        <input value="No" readonly class="form-control" />
                                                    }
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">Fecha de Inicio de Teletrabajo</label>
                                            </div>

                                            <input asp-for="@item.FechaInicioTeletrabajo" class="form-control" />

                                        </div>


                                    </div>
                                    @*<div class="col-md-4">
                                            <div class="form-group">
                                                <div class="d-flex align-items-center">
                                                    <label class="control-label">Sede o Sucursal de la Empresa</label>
                                                </div>

                                                <input asp-for="@item.IdSucursal" class="form-control" />

                                            </div>

                                        </div>*@
                                    <div class="form-group">
                                        <div class="d-flex align-items-center">
                                            <label>Sede o local de la Empresa</label>
                                        </div>
                                        <select class="form-control">

                                            <option value="Sucursal Ezeiza">Sucursal Ezeiza</option>
                                            <option value="Sucursal Quilmes">Sucursal Quilmes</option>
                                            <option value="Sucursal La Plata">Sucursal La Plata</option>
                                        </select>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">@*Locacion declarada para la prestacion del Servicio*@</label>
                                            </div>
                                            @*<input placeholder="Escriba el domicilio de prestacion de servicio" class="form-control" />*@
                                            @*<select class="form-control" asp-items="Model.Paises"></select>*@


                                        </div>


                                    </div>


                                    <div class="col-md-3">
                                        <div class="form-group">

                                            <div class="d-flex align-items-center">
                                                <label class="control-label">Pais</label>
                                            </div>


                                            <select class="form-control selectDomicilioTrabajador" asp-items="Model.Paises" id=@idSelect></select>

                                        </div>
                                    </div>

                                    <div class="row divDomicilioTrabajador" id="@idDivDomicilio" style="display:none">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="d-flex align-items-center">
                                                    <label class="control-label">Provincia</label>
                                                </div>


                                                <select class="form-control" asp-items="Model.Provincias"></select>

                                            </div>


                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="d-flex align-items-center">
                                                    <label class="control-label">Partido</label>
                                                </div>


                                                <select class="form-control" asp-items="Model.Partidos"></select>
                                            </div>


                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="d-flex align-items-center">
                                                    <label class="control-label">Localidad</label>
                                                </div>


                                                <select class="form-control" asp-items="Model.Localidades"></select>
                                            </div>


                                        </div>



                                        <div class="col-md-3">
                                            <div class="form-group">

                                                <div class="d-flex align-items-center">
                                                    <label class="control-label">Calle</label>
                                                </div>


                                                <input class="form-control" />

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="d-flex align-items-center">
                                                    <label class="control-label">Numero de calle</label>
                                                </div>


                                                <input class="form-control" />

                                            </div>


                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="d-flex align-items-center">
                                                    <label class="control-label">Piso</label>
                                                </div>


                                                <input class="form-control" />
                                            </div>


                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <div class="d-flex align-items-center">
                                                    <label class="control-label">Departamento</label>
                                                </div>


                                                <input class="form-control" />
                                            </div>


                                        </div>


                                    </div>









                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <label class="control-label">Jornada Laboral</label>
                                            </div>

                                            @*<input asp-for="@item.IdJornadaLaboral" class="form-control" />*@
                                            @if (item.IdJornadaLaboral == 1)
                                            {
                                                <input value="Lun a Vie de 9:00 a 18:00" readonly class="form-control" />
                                            }
                                            else if (item.IdJornadaLaboral == 2)
                                            {
                                                <input value="Lun a Sab de 9:00 a 18:00" readonly class="form-control" />
                                            }
                                            else if (item.IdJornadaLaboral == 3)
                                            {
                                                <input value="Lun a Dom de 9:00 a 18:00" readonly class="form-control" />

                                            }
                                            else if (item.IdJornadaLaboral == 4)
                                            {
                                                <input value="Lun a Vie de 8:00 a 17:00" readonly class="form-control" />
                                            }
                                            else if (item.IdJornadaLaboral == 5)
                                            {
                                                <input value="Lun a Sab de 8:00 a 17:00" readonly class="form-control" />

                                            }
                                            else if (item.IdJornadaLaboral == 6)
                                            {
                                                <input value="Lun a Dom de 8:00 a 17:00" readonly class="form-control" />
                                            }

                                        </div>


                                    </div>

                                    <div class=" col-sm-6 col-md-4 form-group">
                                        <input type="hidden" class="form-control">
                                        <label>Acreditacion de voluntariedad</label>
                                        <div class="input-group">
                                            <input class="form-control" readonly="">
                                            <input type="file" style="display:none" id="ViewModel_Solicitante_DniAdjunto" name="ViewModel.Solicitante.DniAdjunto">
                                            <input type="button" value="Seleccionar">
                                            <input type="button" value="Quitar">
                                        </div>
                                    </div>

                                    <div class=" col-sm-6 col-md-4 form-group">
                                        <input type="hidden" class="form-control">
                                        <label>Contrato</label>
                                        <div class="input-group">
                                            <input class="form-control" readonly="">
                                            <input type="file" style="display:none" id="ViewModel_Solicitante_DniAdjunto" name="ViewModel.Solicitante.DniAdjunto">
                                            <input type="button" value="Seleccionar">
                                            <input type="button" value="Quitar">
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </td>


                </tr>
                <tr>
                </tr>



            }



        </tbody>


    </table>


}
